<section class="flex">

<section>
{{> hideNav}}
</section>

<section class="adminDashboard">
<div class="dashCont dashPost">
    <h1>TOTAL POSTS</h1>
    <P class="postNum" id="postSum"></P>
</div>

<div  class="dashCont dashUsers">
<h1>TOTAL USERS</h1>
<P class="postNum" id="userSum"></P>
</div>

</section>
</section>
 