 
 <section class="adminCreatePost">
    <div class="error_msg"> <p id="error_msg" style="display: block;"></p> </div>
  <form id="formAdLogin">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="email" name="email" id="adminEmail" class="form-control" >
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="password" name="password" id="adminPassword" class="form-control">
</div>
 <div class="col-auto">
    <button type="button" class="btn btn-primary mb-3" id="btnAdminLogin" 
    onclick="logAdmin()";
    >Submit</button>
    <p>don't have an account yet <a href="/create_admin">Create an Account</a> </p>
  </div>
  </form>
  </section>